*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.card {
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  .product{
    text-decoration: none !important;
    color: black !important;
  }
  
  .icon-style {
    padding: 8px;
    background-color: #eee;
    border-radius: 10px;
    transition: 0.3s;
  }
  
  .icon-style:hover {
    background-color: #ccc;
  }
  .info {
    padding: 10px;
    display: flex
;
    justify-content: center;
    align-items: center;
  }
  .img-product {
    padding: 5px;
    box-shadow: 0 0 7px #ccc;
  
  }
  .info h2{
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
  }